XsdClasses/reqBody.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.canadapost.ca/ws/ship/rate-v4" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="mailing-scenario">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="quote-type" type="xs:string" />
				<xs:element name="parcel-characteristics">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="weight" type="xs:unsignedByte" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="origin-postal-code" type="xs:string" />
				<xs:element name="destination">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="domestic">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="postal-code" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>